<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="/">
        <span class="brand-dot"></span>
        Safety Monitor
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Modules
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Hazard Reporting</a></li>
              <li><a class="dropdown-item" href="#">Incident / Near Miss</a></li>
              <li><a class="dropdown-item" href="#">Inspections</a></li>
              <li><a class="dropdown-item" href="#">Permit to Work</a></li>
            </ul>
          </li>

          <li class="nav-item"><a class="nav-link" href="#">Awareness</a></li>

          <li class="nav-item ms-lg-2">
            <a class="btn btn-outline-primary btn-sm px-3" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary btn-sm px-3" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>
